{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "client": "./client",
          "computed": "./client/common/computed"
        }
      }
    ]
  ]
}
